@import "../../assets/scss/config/_config";

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .card-b {
    flex-shrink: 0;
    width: calc(50% - 5px);

    @media only screen and (min-width: 992px) {
      width: calc(20% - 8px);
      gap: 20px;
    }
  }
}

// Card B is a React Component
.card-b {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  aspect-ratio: 274 / 314;

  border-radius: $radius;
  overflow: hidden;
  padding: 10px;

  figure {
    width: 100%;
    height: 100%;
    height: 100%;

    &::before {
      display: block;
      content: "";
	  position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 274 / 314;
      display: block;

      border-radius: $radius;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      overflow: hidden;
  
    }
  }

  .card-meta {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    text-align: center;
  }

}
