<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Index Test</title>
</head>

<body>

  <div id="wrapper">

  </div>

  <div class="footer">
    <div class="footer-contenant">
        <div class="footer__newsletter-section">
            <h1>NEWSLETTER</h1>
            <p>Suivez-nous pour ne rien manquer !</p>
        </div>
        <div class="footer__newsletter-fonction">
            <input type="text" placeholder="Email">
            <br>
            <button>Envoyer</button>
        </div>
  
        <div id="footer__separator-line"></div>
  
        <div class="footer__informations-section">
            <h2>SUIVEZ-NOUS</h2>
            <p>Twitter</p>
            <p>Instagram</p>
            <p>Facebook</p>
        </div>
        <div class="footer__informations-section">
            <h2>INFORMATIONS</h2>
            <p>Qui sommes-nous</p>
            <p>Mention légales</p>
            <p>Contact</p>
        </div>
    </div>
  
    <div class="footer__bottom">
        <p>J'accepte que mes données soient stockées et traitées conformément à la politique de confidentialité.</p>
        <p>Copyright 2022 Company Name.</p>
    </div>
  </div>


  <script type="module" src="../main.jsx"></script>
</body>





</html>