<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Index Test</title>
  <script src="../js/libs/splide.min.js"></script>
  <link rel="stylesheet" href="../js/libs/splide.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body class="fruit">

  <div id="wrapper">

    <header>
      HEADER
    </header>

    <main>

      <section class="detail_item">

        <div class="visual">
          <figure>
            <img src="../media/i142186-tarte-tatin-a-la-banane.jpg" alt="La banane !" />
          </figure>

          <div class="calendar">
            <h2>Calendrier annuel</h2>
            <div class="calendar_content">
              <ul>
                <li><span>Janvier</span></li>
                <li><span>Février</span></li>
                <li><span>Mars</span></li>
                <li><span>Avril</span></li>
                <li><span>Mai</span></li>
                <li><span>Juin</span></li>
                <li><span>Juillet</span></li>
                <li><span>Août</span></li>
                <li class="active"><span>Septembre</span></li>
                <li class="active"><span>Octobre</span></li>
                <li><span>Novembre</span></li>
                <li><span>Décembre</span></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="content">
          <h1>Nom du fruit</h1>
          <p>
            Proin malesuada laoreet accumsan. Duis placerat facilisis fringilla. Quisque dictum lorem ac nulla rutrum,
            vel semper tellus luctus. Ut egestas neque non mauris sagittis, quis ultrices augue maximus. Donec imperdiet
            ipsum in augue pulvinar, eget accumsan quam accumsan.
          </p>

          <div class="benefits">
            <h2>Bénéfices</h2>

            <div class="benefits_list">

              <div class="benefit">
                <h3>benefit title</h3>
                <div class="benefit-content">
                  <p>
                    Ut egestas neque non mauris sagittis, quis ultrices augue maximus. Donec imperdiet ipsum in augue
                    pulvinar, eget accumsan quam accumsan.
                  </p>
                </div>
              </div>
              <!-- /benefit -->

              <div class="benefit">
                <h3>benefit title</h3>
                <div class="benefit-content">
                  <p>
                    Ut egestas neque non mauris sagittis, quis ultrices augue maximus. Donec imperdiet ipsum in augue
                    pulvinar, eget accumsan quam accumsan.
                  </p>
                </div>
              </div>
              <!-- /benefit -->

              <div class="benefit">
                <div class="benefit-content">
                  <p>
                    Ut egestas neque non mauris sagittis, quis ultrices augue maximus. Donec imperdiet ipsum in augue
                    pulvinar, eget accumsan quam accumsan.
                  </p>
                </div>
              </div>
              <!-- /benefit -->

              <div class="benefit">
                <h3>benefit title</h3>
                <div class="benefit-content">
                  <p>
                    Ut egestas neque non mauris sagittis, quis ultrices augue maximus. Donec imperdiet ipsum in augue
                    pulvinar, eget accumsan quam accumsan.
                  </p>
                </div>
              </div>
              <!-- /benefit -->

            </div>
            <!-- /benefits-list -->
          </div>
        </div>

      </section>
      <!-- /section détail légume/fruit -->

      <section class="spotlight">

        <div class="cards-list">

        <div class="card-b">
          <figure>
            <img src="../media/visu_recette_1.webp" alt="La banane !" />
          </figure>

          <div class="card-meta">
            <div class="card_meta_title">
              Nom de l'item
            </div>
          </div>

          <button class="favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
        </div>

        <div class="card-b">
          <figure>
            <img src="../media/visu_recette_2.webp" alt="La banane !" />
          </figure>

          <div class="card-meta">
            <div class="card-meta__title">
              Nom de l'item
            </div>
          </div>

          <button class="favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></i></button>
        </div>

        <div class="card-b">
          <figure>
            <img src="../media/visu_recette_3.webp" alt="La banane !" />
          </figure>

          <div class="card-meta">
            <div class="card-meta__title">
              Nom de l'item
            </div>
          </div>

          <button class="favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></i></button>
        </div>

      </div>


        
      </section>

      <section class="spotlight">

        

        <div class="splide" aria-label="Splide Basic HTML Example">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide">
                <div class="card-b">
                  <figure>
                    <img src="../media/i142186-tarte-tatin-a-la-banane.jpg" alt="La banane !" />
                  </figure>

                  <div class="card-meta">
                    <div class="card-meta__title">
                      title
                    </div>
                  </div>

                  <button class="favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                </div>
                <!-- /card -->
              </div>

              <div class="splide__slide">
                <div class="card-b">
                  <figure>
                    <img src="../media/i142186-tarte-tatin-a-la-banane.jpg" alt="La banane !" />
                  </figure>

                  <div class="card-meta">
                    <div class="card-meta__title">
                      title
                    </div>
                  </div>

                  <button class="favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                </div>
                <!-- /card -->
              </div>

              <div class="splide__slide">
                <div class="card-b">
                  <figure>
                    <img src="../media/i142186-tarte-tatin-a-la-banane.jpg" alt="La banane !" />
                  </figure>

                  <div class="card-meta">
                    <div class="card-meta__title">
                      title
                    </div>
                  </div>

                  <button class="favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                </div>
                <!-- /card -->
              </div>

            </div>
          </div>
        </div>
        <!-- /Splide carrousel -->

        <div class="actions">
          <button class="btn btn_primary">Voir plus de recettes</button>
        </div>

      </section>
      <!-- /spotlight -->

    </main>

    <footer>
      FOOTER
    </footer>

  </div>

  <script>
    new Splide('.splide', {
      type: 'loop',
      gap: '1em',
      perPage: 1,
      pagination: true,
      padding: { left: '5px', right: '5px' },
      mediaQuery: 'min',
      breakpoints: {
		640: {
			perPage: 2,
		},
    796: {
			perPage: 3,
		},
    1024: {
			// perPage: 3,
      // padding: { left: '8px', right: '8px' }
		},
  }
    }).mount();
  </script>

  <script type="module" src="../main.jsx"></script>
</body>

</html>