<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

    <!-- ICONS FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;900&display=swap" rel="stylesheet">
    
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <!-- LOGO -->
      <a href="#"><img class="navbar-logo" src="../media/logo.png"></a>

      <!-- SEARCHBAR -->
      <input type="text" placeholder="Chercher une recette, un légume, un fruit..." style="font-family: Arial, FontAwesome"/>

      <!-- MENU LI -->
      <div>
          <a href="#"> <i class="fa fa-fw fa-coffee"></i> Recettes</a>
          <a href="#"> <i class="fa fa-fw fa-coffee"></i> Favoris</a>
      </div>

      <!-- BUTTON CONNEXION -->
      <button class="btn_connexion">
          <p class="txt_button">CONNEXION</p>
      </button>
  </nav>
  <div id="wrapper">



  </div>

  <script type="module" src="../main.jsx"></script>
</body>

</html>