<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Index Test</title>
</head>

<body>

  <div id="wrapper">

    <header>
      HEADER
    </header>

    <main>

      <div class="notify notify-success">
        <div class="notify-content">
          Notify
        </div>
      </div>

      <section>
        <div class="row row-gutter-sm">

          <div class="col xs-12 sm-4">
            <div style="background:#efefef">COL</div>
          </div>

          <div class="col xs-5 sm-8">
            <div style="background:#efefef">COL</div>
          </div>

        </div>

      </section>
      <!-- /section détail légume/fruit -->

      <section>

      </section>
      <!-- /section recettes -->

    </main>


    <footer>

    </footer>

  </div>

  <script type="module" src="../main.jsx"></script>
</body>

</html>