<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Liste Recettes</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>

<body>

  <div id="wrapper">

    <header>
      HEADER
    </header>

    <main>

      <div class="card_a">
        <div class="share-icons">
            <span><img src="../media/FB32.png" alt="Facebook"></span>
            <span><img src="../media/X32.png" alt="Twitter"></span>
        </div>
        <h2 class="title">Nom de la recette</h2>
        <div class="icons">
            <span><img src="../media/Time.png" alt="Icone Temps"> Temps</span>
            <span><img src="../media/pers.png" alt="Icone Personnes"> Nombre de personnes</span>
        </div>
    </div>

    </main>


    <footer>

    </footer>

  </div>

  <script type="module" src="../main.jsx"></script>
</body>

</html>