<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.css">
  <title>Document</title>
</head>
<body>

  <form>

    <h1>Se connecter</h1>
    <div className="social-media">
      <p><i className="fab fa-youtube" /></p>
      <p><i className="fab fa-facebook-f" /></p>
    </div>
    <p className="choose-email">Ou utiliser mon adresse e-mail :</p>

    <div className="inputs">
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Mot de passe" />
    </div>

    <p className="inscription"><span>Nouveaux membres</span></p>
    <div align="center">
      <button type="submit">Se connecter</button>
    </div>
  </form>


  
</body>
</html>