<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Mentions légales</title>
</head>

<body>

  <div id="wrapper">

    <header>
      HEADER
    </header>

    <main>

      <section>
        <div class="content">
          <h1>Mentions légales</h1>
          <p>Le site seasonly.fr est édité par la société seasonly <br>
            S.A.R.L au capital de 7 471 700 € <br>
            Dont le siège
            social est situé au SEASOnly 33 Rosebery Paris <br>
            Enregistrée au registre du commerce et des sociétés de
            Paris sous le numéro xxx xxx xxx.
            <br>
          <h2>Hébergeur du site :</h2>
          S.A.R.L. seasonly <br>
          Responsable du site : Maïana <br>
          Directeur de la publication : Gilles <br>
          Directeur technique : David <br>
          Directeur Data : Antoine <br>
          Directeur web : Cyprien <br>
          E-mail de contact : contact@seasonly.fr <br>
          Téléphone de contact du siège social : 09 xx xx xx xx (appel non surtaxé) <br>
          Du lundi au vendredi de 9h00 à
          12h00 et de 14h à 17h.</p><br>

          <h2>Commission Nationale Informatique et Libertés :</h2>
          <p>En application de la loi n°78-17 du 6 janvier 1978
            modifiée, relative à l’informatique, aux fichiers et aux libertés, le site web a fait l’objet d’une
            déclaration auprès de la CNIL.</p><br>

          <h2>Protection des données personnelles :</h2>
          <p>seasonly.fr peut être appelé à recueillir des informations lors
            de la création des comptes Membres. Ces informations obligatoires pour assurer le service
            permettent d’effectuer les opérations relatives aux membres, aux droits d’accès, de rectification et
            d’opposition et à la gestion d’opérations tels que la publication de recette et de commentaires.
            Conformément aux dispositions de la Loi Informatique et Libertés du 6 janvier 1978 modifiée par
            la loi du 6 août 2004 vous bénéficiez d'un droit d'accès, de rectification ou d'opposition sur vos données
            collectées. Ce droit peut être exercé par courrier postal accompagné d’une copie d’une pièce d’identité à :
            seasonly, 33 Rosebery Paris.<br>

          <h2>Cookies :</h2>
          Le site seasonly.fr utilise des
          cookies dans le but de faciliter la communication par voie électronique, ils sont destinés notamment à la
          conservation de vos favoris.</p><br>

          <h2>Contenus du site :</h2>
          <p>Toute reproduction ou représentation totale ou partielle, par quelque procédé que ce
            soit, de ce site et de ses éléments graphiques ou rédactionnels est interdite sans l’autorisation expresse
            de seasonly et constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du Code
            de la propriété intellectuelle. Vous avez la faculté de signaler tout éventuel contenu illicite ou inadapté
            à contact@seasonly.fr</p><br>
        </div>

      </section>
      <!-- /section détail légume/fruit -->

      <section>

      </section>
      <!-- /section recettes -->

    </main>


    <footer>

    </footer>

  </div>

  <script type="module" src="../main.jsx"></script>
</body>

</html>