<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Page 404</title>
</head>

<body>

  <div id="wrapper">

    <main>

      <section>
        <div class="error-container">
          <div class="error-code">404</div>
          <div class="error-message">Désolé, la page que vous recherchez est introuvable.</div>
          <a class="home-link" href="/">Retour à la page d'accueil</a>
        </div>
      </section>
      <!-- /section détail légume/fruit -->

      <section>

      </section>
      <!-- /section recettes -->

    </main>


    <footer>

    </footer>

  </div>

  <script type="module" src="../main.jsx"></script>
</body>

</html>