<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Qui sommes-nous ?</title>
</head>

<body>

  <div id="wrapper">

    <header>
      HEADER
    </header>

    <main>

      <h1>Qui sommes-nous ?</h1>

      <p>Cinq étudiants développeurs web symfony et react lance le projet SEASONLY .</p>

      <p>2023 - Création du site web fruits et legumes avec des recettes de saison</p>

      <img src="../media/danse_legumes.gif" alt="danse legume">

      <p>Nulla laoreet quam sapien, at blandit nisl pellentesque sit amet. Donec rutrum, leo vel finibus dapibus, mi sem
        vulputate est, eu efficitur ex ante id sem. Morbi in pharetra sapien. Phasellus semper dui et ex pharetra, ac
        eleifend odio porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec id viverra mi, id
        porttitor sem. Vestibulum ut sem dolor. Etiam feugiat, magna vel rutrum dapibus, ligula nisi auctor libero,
        tempor rutrum dolor enim at lectus. Pellentesque et enim non elit pulvinar placerat. Cras commodo nibh pretium
        varius vehicula. Duis nec purus ut nibh fermentum luctus at vel diam. Cras maximus mauris eu massa ultrices, et
        tempus neque consequat.</p>

      <p>Sed vel tellus feugiat turpis dapibus tincidunt. Vestibulum justo tortor, bibendum eu rhoncus ac, venenatis vel
        lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque
        laoreet velit pellentesque, pharetra urna in, pharetra risus. Nullam at laoreet mauris. Suspendisse vel
        fermentum sapien. Cras placerat vehicula tempor. Sed ac sem id enim aliquet placerat.</p>

    </main>


    <footer>

    </footer>

  </div>

  <script type="module" src="../main.jsx"></script>
</body>

</html>