<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" src="../../src/assets/scss/core.scss" /> -->
  <title>Vite App</title>
</head>

<body>

  <header>
    HEADER
  </header>

  <main>
    Ici le main commence

    <a href="../index.html">Retour à l'index des pages</a>

    <section>
      Ici commence une section

      <h2 class="title">Ici une Titelbar</h2>

      Exemple grille classique
      <div class="row row-gutter-sm">

        <div class="col xs-12 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>
        
      </div>
      <!-- /row -->

      Exemple de grille option .toto
      <div class="row row-gutter-sm toto">

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>

        <div class="col xs-5 sm-2 md-1">
          <div style="background:#efefef">COL</div>
        </div>
        
      </div>
      <!-- /row -->

    </section>



    <div id="app">
      <ul>
        <li><a href="template/home.html">Home</a></li>
        <li><a href="template/recette_detail.html">Recette détail</a></li>
      </ul>
    </div>



    <a href="#"><i class="ico-facebook"></i></a>
    <i class="ico-facebook"></i>
  </main>


  <footer>
    Ici c'est le footer
  </footer>

  <script type="module" src="../main.jsx"></script>
</body>

</html>